/.WindowAgregarAccionDeIrAOtraHabitacionConsecuencia.java._trace
/.WindowAgregarAccionConsecuencia.java._trace
/WindowAgregarAccionConsecuencia.java
/WindowAgregarAccionDeIrAOtraHabitacionConsecuencia.java
/.WindowAgregarAccionDeAgarrarUnElementoConsecuencia.java._trace
/WindowAgregarAccionDeAgarrarUnElementoConsecuencia.java
/.WindowAgregarAccionDeUsarUnElementoConsecuencia.java._trace
/WindowAgregarAccionDeUsarUnElementoConsecuencia.java
