/.WindowsAgregarAccionDeUsarElemento.java._trace
/.WindowAgregarAccionDeUsarElemento.java._trace
/.WindowAgregarAccionDeIrAOtraHabitacion.java._trace
/.WindowQuitarAccionDeIrAOtraHabitacion.java._trace
