/.WindowsAgregarAccionDeUsarElemento.java._trace
/.WindowAgregarAccionDeUsarElemento.java._trace
/.WindowAgregarAccionDeIrAOtraHabitacion.java._trace
/.WindowQuitarAccionDeIrAOtraHabitacion.java._trace
/.GatoEncerradoApplication.java._trace
/.NuevaHabitacionWindow.java._trace
/.NuevoLaberintoWindow.java._trace
/.WindowAgregarAccion.java._trace
/.WindowAgregarAccionDeAgarrarElemento.java._trace
/GatoEncerradoApplication.java
/NuevoLaberintoWindow.java
/WindowAgregarAccion.java
/WindowAgregarAccionDeAgarrarElemento.java
/WindowAgregarAccionDeIrAOtraHabitacion.java
/WindowAgregarAccionDeUsarElemento.java
/NuevaHabitacionWindow.java
/.WindowAgregarAccionConsecuencia.java._trace
/WindowAgregarAccionConsecuencia.java
